.active:not(.my-navbar-title) {
  background-color: #1d4ed8;
}
.my-navbar-title {
  font-size: 2em; /* Adjust as needed */
  font-weight: bold;
  background: #0f172a;
  text-decoration: none;
  margin-left: 16px;
  color: white;
  /* Add any other styles you want for the title */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
}
nav .my-username {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li .my-user-icon{
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  margin-right: 30px;
  width: 75%;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  margin-right: 30px;
}
nav ul li a:not(.active):hover{
  background-color: #172554;
}
nav ul li .my-user-icon:not(.active):hover{
  background-color: #172554;
}
.my-sub-menu-wrap{
  position: absolute;
  top: 11%;
  right: 0%;
  width: 320px;
}
.my-sub-menu{
  background: #172554;
  padding: 20px;

}
.my-user-info{
  display: flex;
  align-items: center;
}
.my-user-info h3 {
  font-weight: 500;
  color: white;
  margin-right: 10px; /* Add margin to separate icon and text */
}
.my-sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.my-sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: chocolate;
  margin: 12px 0;
}
.my-sub-menu-link .lp{
  width: 100%;
  display: flex;
  background: white !important;
  text-decoration: none !important;
}
.my-sub-menu-link .lp .lp2 {
  margin-left: 20px;

}
.my-sub-menu-wrap.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}
.my-sub-menu-wrap.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}
